<!DOCTYPE html>
<html>
<head>
    <title>Education</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/63bb9795dc.js" crossorigin="anonymous"></script>
</head>
<body class="educationalBod">
    <!--<div>
        <nav>
            <h2 class="logo">Ou<span>ano</span></h2>
            <ul class="nav-list">
                <li class="nav-item"><a href="index.html">Home</a></li>
                <li class="nav-item"><a href="#">Education</a></li>
                <li class="nav-item"><a href="work.html">Work Experience</a></li>
                <li class="nav-item"><a href="Resume.html" target="_blank">Resume</a></li>
            </ul>
            <a href="tel:(63) 999 847 6050" class="btn">Contact Me</a>
        </nav>
       </div>
        --> 

        <nav>
            <h2 class="logo">Ou<span>ano</span></h2>
            <ul class="nav-list">
                <li><a href="index.html">Home</a></li>
                <li><a class="active" href="#">Education</a></li>
                <li><a href="work.html">Work Experience</a></li>
                <li><a href="Resume.html" target="_blank">Resume</a></li>
            </ul>
            <a href="tel:(63) 999 847 6050" class="btn">Contact Me</a>
        </nav>
       </div>

        <!----Start of Education History-->
        <div class="containerEd">
            <div class="rightbox">
              <div class="rb-container">
                <ul class="rb">
                  <li class="rb-item" ng-repeat="itembx">
                    <div class="timestamp">
                      March 2017<br> 5:00 PM
                    </div>
                    <img src="SJA.jpg" width="380px" height="250px">
                    <div class="item-title">Graduated Junior High at St. Joseph's Academy</div>
          
                  </li>
                  <li class="rb-item" ng-repeat="itembx">
                    <div class="timestamp">
                      May 2019<br> 5:00 PM
                    </div>
                    <img src="usc.jpg" width="380px" height="180px">
                    <div class="item-title">Graduated Senior High at the University of San Carlos</div>
          
                  </li>
          
                  <li class="rb-item" ng-repeat="itembx">
                    <div class="timestamp">
                      May 2023<br> 2:00 PM
                    </div>
                    <div class="item-title">Graduated College at the University of San Carlos</div>
          
                  </li>
          
                </ul>
          
              </div>
            </div>
          </div>

          <!----End of Education History-->
</body>
</html>